body {
  font-family: Arial;
  font-weight: 800;
  text-align: center;
  font-size: 24px;
  background: #333;
  color: #fff;
}

#navbar {
  width: 800px;
  margin: 0 auto;
  margin-top: 200px;
}

.navbutton {
  float: left;
  width: 160px;
  height: 72px;
  margin: 20px;
  line-height: 72px;
  border-radius: 12px;
  border-bottom: 1px solid #333;
  transition: background 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
  text-shadow: 1px 1px #222;
}

.navbutton:hover {
  border-bottom: 1px solid #666;
  background: #222;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  color:#fb2;
  cursor: pointer;
}
